@import '../App.scss';

.briefcase {
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}