@import '../App.scss';

.briefcase {
    width: 100%;
    background-color: $color-background;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;

    &.dark {
        background-color: $color-background-dark;
    }
}