@import '../App.scss';

.card {
    width: 40%;
    border-radius: 32px;
    margin-bottom: 50px ;
    padding-top: 22.5%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: #e2e2e2;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14);
    transition: background 150ms ease-out 0s, border 150ms ease-out 0s, transform 150ms ease-out 0s, box-shadow 150ms ease-out 0s;
    &:hover {
        transform: scale(1.016);
        box-shadow: 0 9px 12px 0 rgba(0, 0, 0, 0.14);
    }

    @media screen and (max-width: $tablet) {
        width: 82%;
        padding-top: 46.125%;
        border-radius: 16px;
    }
    @media screen and (max-width: $mobile-l) {
        margin-bottom: 20px;
        border-radius: 8px;
    }
}