@import '../App.scss';

.fullScreen {
    background-color: $color-background;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &.dark {
        background-color: $color-background-dark;
    }
}