@import '../App.scss';

.card {
    width: 88%;
    border-radius: 8px;
    margin-bottom: 50px ;
    min-height: 750px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: #e2e2e2;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: background 150ms ease-out 0s, border 150ms ease-out 0s, transform 150ms ease-out 0s;
    &:hover {
        transform: scale(1.025);
    }

    @media screen and (max-width: $laptop-l) {
        min-height: 650px;
    }

    @media screen and (max-width: $laptop-m) {
        min-height: 600px;
    }

    @media screen and (max-width: $laptop-s) {
        min-height: 450px;
    }
    @media screen and (max-width: $tablet) {
        width: 82%;
        padding: 15px;
        min-height: 240px;
        border-radius: 4px;
    }
    @media screen and (max-width: $mobile-l) {
        margin-bottom: 20px ;
        min-height: 180px;
    }
}