@import '../App.scss';

.card {
    width: 88%;
    border-radius: 4px;
    margin-bottom: 50px ;
    min-height: 750px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: #e2e2e2;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    transition: background 150ms ease-out 0s, border 150ms ease-out 0s, transform 150ms ease-out 0s;
    &:hover {
        transform: translate3d(0px, -3px, 0px);
        opacity: 1;
    }

    @media screen and (max-width: $laptop-l) {
        min-height: 650px;
    }

    @media screen and (max-width: $laptop-m) {
        min-height: 600px;
    }

    @media screen and (max-width: $laptop-s) {
        min-height: 450px;
    }
    @media screen and (max-width: $tablet) {
        width: 82%;
        padding: 15px;
        min-height: 300px;
    }
    @media screen and (max-width: $mobile-l) {
        margin-bottom: 20px ;
        min-height: 220px;
    }
}

.card__details {
    flex-wrap: wrap;
    width: 75%;
    @media screen and (max-width: $mobile-l) {
        width: 90%;
    }
}

.card__imageContainer{
    flex-wrap: wrap;
    width: 20%;
    @media screen and (max-width: $mobile-l) {
        width: 30%;
    }
}

.card__imageContainer--image {
    width: 100%;
    border-radius: 50%;
}