@import "../App.scss";

.contact {
    width: 80%;
    max-width: 600px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}