@import '../App.scss';

.header {
    color: $second-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    position: absolute;
    background-color: transparent;
    @media screen and (max-width: $mobile-l) {
        height: 50px;
        .logo {
            display: none;
        }
    }
}

.header__list {
    list-style: none;
    display: flex;
    @media screen and (max-width: $mobile-l) {
        padding: 0;
        width: inherit;
        justify-content: space-around;
    }
}

.menu {
    display: flex;
    padding-right:10px;
    @media screen and (max-width: $mobile-l) {
        width: 100%;
    }
}

.link--header {
    padding: 0 10px;
    color: $second-color;
    text-decoration: none;
    text-align: center;
    &:hover {
        text-decoration: underline;
    }
}