@import '../App.scss';

.hero {
    height: -webkit-fill-available;
    background-color: $primary-color;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    text-align: center;
}

.hero-container {
    height: -webkit-fill-available;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}