@import '../App.scss';

.initial-image-container {
    display: flex;
    justify-content: center;
}

.initial-image {
    width: 90%;
    max-width: 1200px;
    height: 50vh;
    object-fit: contain;
}

.collection-image {
    width: 90%;
    max-width: 900px;
    object-fit: contain;
    margin: 24px 0;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14);
}