@import "../App.scss"

.input {
    border-radius: 4px;
    width: 100%;
    text-align: center;
    height: 30px;
    font-size: 15px;
    background-color: white;
}

.input-textarea {
    resize: none;
    height:initial;
}

.button {
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    height: 35px;
    font-size: 16px;
    transition: color 150ms ease-out 0s, transform 150ms ease-out 0s;
    &:hover {
        transform: translate3d(0px, -3px, 0px);
        box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 10px 0px;
    }
    &--red {
        background-color: $light-red;
        border-color: $light-red;
        color: white;
        font-weight: bold;
    }
}
