@import '../App.scss';

.link {
    color: white;
    text-decoration: none;
    text-align: center;
    &:hover {
        text-decoration: underline;
    }
}

.link--header {
    padding: 0 10px
}

.link--black {
    color: black;
}