@import '../App.scss';

.portfoil {
    padding: 60px 30px 30px;
    background-color: white;
    @media screen and (max-width: $tablet) {
        padding: 15px;
    }
}

.portfoil__title{
    text-align: center;
}

.portfoil__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 0;
    @media screen and (max-width: $laptop-s) {
        flex-direction: column;
    }
}