* {
  margin: 0;
}

.background--black-russian {
  background: #121316;
}

body {
  font-family: "SF Pro Display", "Roboto", Helvetica, sans-serif;
}

.header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: fixed;
  width: 100%;
}

.header__list {
  list-style: none;
  display: flex;
}

.link {
  color: white;
  text-decoration: none;
  text-align: center;
}

.link:hover {
  text-decoration: underline;
}

.link--header {
  padding: 0 10px;
}

.link--black {
  color: black;
}

.menu {
  display: flex;
  padding-right: 10px;
}

.hero {
  height: -webkit-fill-available;
  background-image: url("./images/hero.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
  text-align: center;
}

.hero--fade-effect {
  background-color: rgba(0, 0, 0, 0.5);
  height: -webkit-fill-available;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

.hero__name {
  font-size: 5.5em;
  line-height: 1.5;
}

.hero__title {
  font-size: 2em;
  text-align: center;
}

.portfoil {
  padding: 60px 30px 30px;
  background-color: #f5f5f5;
}

.portfoil__title {
  text-align: center;
}

.portfoil__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px 0;
}

.card {
  width: 28%;
  border-radius: 10px;
  border: 1px solid #eee;
  margin-bottom: 20px;
  min-height: 120px;
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__details {
  flex-wrap: wrap;
  width: 75%;
}

.badge-container {
  margin: 6px 0;
}

.badge {
  color: white;
  background-color: #5f5f5f;
  padding: 4px 6px;
  border-radius: 8px;
  font-size: 12px;
}

.card__link {
  margin: 4px 0;
}

.card__imageContainer {
  flex-wrap: wrap;
  width: 20%;
}

.card__imageContainer--image {
  width: 100%;
  border-radius: 50%;
}

.footer {
  color: white;
  height: 360px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.contact {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.input {
  border-radius: 5px;
  height: 30px;
  width: 100%;
  font-size: 15px;
  text-align: center;
  background-color: white;
}

.input-textarea {
  resize: none;
  height: initial;
}

.button {
  border-radius: 5px;
  height: 40px;
  width: 100%;
  font-size: 16px;
  text-align: center;
}

.button--red {
  background-color: #ff5460;
  border-color: #ff5460;
  color: white;
  height: 35px;
  font-weight: bold;
}

@media screen and (max-width: 1280px) {
  .hero__name {
    font-size: 4em;
  }

  .hero__title {
    font-size: 1.5em;
  }

  .card {
    width: 40%;
  }
}
@media screen and (max-width: 1200px) {
  .contact {
    width: 40%;
  }
}
@media screen and (max-width: 1000px) {
  .portfoil__container {
    flex-direction: column;
  }

  .card {
    width: 80%;
    margin: 20px 0 0;
  }

  .contact {
    width: 50%;
  }
}
@media screen and (max-width: 769px) {
  .hero__name {
    font-size: 3em;
  }

  .hero__title {
    font-size: 1.2em;
    margin: 0 10px;
  }

  .portfoil {
    padding: 30px;
  }

  .card {
    width: 90%;
  }

  .contact {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .hero__name {
    font-size: 2em;
  }

  .hero__title {
    font-size: 1em;
  }

  .portfoil, .card {
    padding: 15px;
  }

  .card__details {
    width: 70%;
  }

  .card__imageContainer {
    width: 25%;
  }

  .contact {
    width: 80%;
  }
}
@media screen and (max-width: 425px) {
  .header {
    height: 50px;
  }

  .logo {
    display: none;
  }

  .menu {
    width: 100%;
  }

  .header__list {
    padding: 0;
    width: inherit;
    justify-content: space-around;
  }

  .card {
    flex-direction: column;
    text-align: center;
  }

  .card__details {
    width: 90%;
  }

  .card__imageContainer {
    width: 30%;
  }
}
@media screen and (max-width: 375px) {
  .hero__name {
    line-height: 0.9;
    margin: 0 0 20px;
    font-size: 2em;
  }
}

/*# sourceMappingURL=style.css.map */
