@import "./Vars.scss";

* {
  margin: 0;
  font-family: $theme-font;
}

body {
  background: $color-background;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

.dark {
  color: white
}

.text--title {
  color: $color-black;
  text-align: center;
  font-size: 3.2em;
  line-height: 1.5;

  &.dark {
    color: white;
  }
  
  @media screen and (max-width: $tablet) {
    font-size: 2.4em;
  }
  @media screen and (max-width: $mobile-m) {
    line-height: 0.9;
    margin: 0 0 20px;
    font-size: 1.6em;
  }
}

.text--subtitle {
  color: $color-gray;
  text-align: center;
  font-size: 2em;

  &.dark {
    color: $color-gray-dark;
  }

  @media screen and (max-width: $laptop-m) {
    font-size: 1.8em;
  }
  @media screen and (max-width: $tablet) {
    font-size: 1.2em;
    margin: 0 10px;
  }
}

.divider {
  width: 64%;
  margin: 32px auto;
}
