@import url(https://fonts.googleapis.com/css?family=Nunito:200&display=swap);

$theme-font: "Nunito", sans-serif;

$black: #1B1F23;
$gray-03: #586069;
$light-red: #ff5460;

$laptop-l: 1600px;
$laptop-m: 1280px;
$laptop-s: 1024px;
$tablet: 769px;
$mobile-l: 425px;
$mobile-m: 375px;