@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);

$theme-font: "Nunito Sans", Helvetica, sans-serif;

$primary-color: #121316;
$light-red: #ff5460;

$laptop-m: 1280px;
$laptop-s: 1024px;
$tablet: 769px;
$mobile-m: 375px;
$mobile-l: 425px;