@import url(https://fonts.googleapis.com/css?family=Nunito:200&display=swap);

$theme-font: "Nunito", sans-serif;

$color-black: #1b1f23;
$color-gray: #586069;

$laptop-l: 1600px;
$laptop-m: 1280px;
$laptop-s: 1024px;
$tablet: 769px;
$mobile-l: 425px;
$mobile-m: 375px;
